$white: #FFF;
$green: #00A699;

.display-options {
  padding: 10px 0;

  h2 {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .nav-panel {
    display: inline-block;

    a {
      color: $white;
      border: 1px solid $white;
      transition: all .2s linear;

      &:hover {
        color: $green;
        border: 1px solid $green;
        transition: all .2s linear;
      }
    }
  }
}