.header {

  h1 { 
    display: inline-block;

    a {
      font-size: 1.4rem;
    }
  }
}

.load-more {
	color: #FFF;
	border: 1px solid #FFF;
	transition: all .2s linear;
	display: block;
	margin: 50px auto;
	text-align: center;
	padding: 10px 20px;
	width: 100px;
}